<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="customLoggerLevel" converterClass="fr.laucoin.registry.backend.config.LoggerConfig"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%cyan(%-20thread)] %customLoggerLevel(%-5level) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
